.navbar {
    background-color: rgb(202, 198, 198);
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.profile-photo {
    width: 12%;
    border: 5px solid;
}

@media screen and (max-width: 767px) {
    .profile-photo {
        width: 20%;
    }
}