body {
    text-transform: capitalize;
}

.navbar {
    background-color: rgb(202, 198, 198);
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.profile-photo {
    width: 12%;
    height: 30vh;
}

.details {
    margin-top: -2%;
}

.upload{
    width: 60%;
}

@media screen and (max-width: 767px) {
    .profile-photo {
        width: 25%;
    }

    .details {
        margin-top: -3%;
    }
}